<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css"
	type="text/css">
<link rel="stylesheet" href="myStyle/siteMap.css" type="text/css">

<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="jquery/jquery-3.0.0.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<meta charset="UTF-8">
<title>Site map</title>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<ul class="nav nav-tabs">
					<li><a class="navbar-brand" href="index.html">HR System</a></li>
					<li role="presentation" class="dropdown"><a
						class="dropdown-toggle dropdown-button-color"
						data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
						aria-expanded="false"> Поиск <span class="caret"></span>
					</a>
						<ul class="dropdown-menu dropdown-button-style">
							<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
							<li><a href="searchingResume.html">Поиск резюме</a></li>
						</ul></li>
				</ul>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<form class="navbar-form navbar-right">
					<button type="submit" class="btn btn-success">Выйти</button>
				</form>
			</div>
		</div>
	</nav>
	<section>
	<div class="thumbnail map-information ">
		<ul>
			<li><a href="index.html">Главная</a>
			<ul>
			<li><a href="accountApplicant.html">Личный кабинет соискателя</a>
			<li><a href="accountHR.html">Личный кабинет работадателя</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			<li><a href="resume.html">Конкретное резюме</a></li>
			<li><a href="createResume.html">Создать резюме</a></li>
			<li><a href="createVacancy.html">Создать вакансию</a></li>
			</ul>
			</li>
			
			<li><a href="searchingVacancy.html">Поиск вакансий</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			<li><a href="vacancy.html">Конкретная вакансия</a></li>
			</ul>
			</li>
			
			<li><a href="searchingResume.html">Поиск резюме</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			<li><a href="resume.html">Конкретное резюме</a></li>
			</ul>
			</li>
			
			<li><a href="resume.html">Резюме</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			</ul>
			</li>
			
			<li><a href="vacancy.html">Вакансия</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			</ul>
			</li>
			
			<li><a href="creatingResume.html">Создание резюме</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			</ul>
			</li>
			
			<li><a href="creatingVacancy.html">Создание вакансии</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			</ul>
			</li>
			
			<li><a href="accountApplicant.html">Личный кабинет соискателя</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			<li><a href="creatingResume.html">Создание резюме</a>
			</ul>
			</li>
			
			<li><a href="accountHR.html">Личный кабинет работадателя</a>
			<ul>
			<li><a href="index.html">Главная</a>
			<li><a href="searchingVacancy.html">Поиск вакансий</a></li>
			<li><a href="searchingResume.html">Поиск резюме</a></li>
			<li><a href="creatingVacancy.html">Создание вакансии</a>
			</ul>
			</li>
			
			<li><a href="404error.html">Старница ошибки 404</a>
			<ul>
			<li><a href="index.html">Главная</a>
			</ul>
			</li>
			
		</ul>
		</div>
	</section>
	<footer>
		<p class="text-footer">© 2016 EPAM Training Center, HR System. <a href="siteMap.html"> Карта сайта</a></p>
	</footer>
</body>
</html>